
<h1 class="page-header">SongsOnUs</h1>
<p class = "text-success">
<br>
Many to many relationships:
<br>
users & songs 
<br>
songs & playlists
<br>
One to many relationships:
<br>
artists & songs
<br>
Third party API:
<br>
Rspotify
<br>
Third party gem:
<br>
Bcrypt
<br>
Github Repository:
<br>

</p>

